body{
  margin: 0;
  padding: 0;
  background-color: #161A27;
}

section {
  height: 100vh;
}

span ,.name {
  color: #5779E0;
}

.a-btn {
  background-color: #5779E0;
}

.social {
  color: #5779E0;
  margin-right: 5rem;
}

.btnd:hover {
  background-color: rebeccapurple;
}

.img {
  border-radius: 47% 53% 51% 49% / 30% 32% 68% 70% ;
  margin-right: 2rem;
}

.head {
  font-family: 'Bebas Neue', Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: xx-large;
  color: white;

}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; 
  color: white;
}

.sk {
  text-transform: uppercase;
  font-size: larger;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border: 1px solid rebeccapurple;
  padding: 10px;
  box-shadow: 2px 2px grey;
}

.card {
  width: 40%;
  box-shadow: 0 4px 8px 0 rebeccapurple;
  border-radius: 25%;
}



.form {
  display: block;
  padding: 1em;
  margin: 10px;
  width: 500px;
}